<a href="https://colab.research.google.com/github/harjeet88/google_collab/blob/main/spark_exmples/consective_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!chmod -R +x /content/drive/MyDrive/installs/

In [3]:
import os
java_path = '/content/drive/MyDrive/installs/jdk-11.0.2/'
os.environ['JAVA_HOME'] = java_path
os.environ['PATH'] = os.environ['JAVA_HOME'] + '/bin:' + os.environ['PATH']
# Verify installation
!java -version
!which java

openjdk version "11.0.2" 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)
/content/drive/MyDrive/installs/jdk-11.0.2//bin/java

In [4]:
import pyspark
import os
java_path = '/content/drive/MyDrive/installs/jdk-11.0.2/'
os.environ['JAVA_HOME'] = java_path
os.environ["SPARK_HOME"] = "drive/MyDrive/installs/spark-3.5.1-bin-hadoop3"
os.environ["PYSPARK_PYTHON"] = "python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = "python3"

In [5]:
import sys
sys.path.append('/content/drive/MyDrive/installs/py_package') # Replace with your actual path

In [6]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession
MAX_MEMORY="8g"
maven_coords = [
    "org.apache.spark:spark-avro_2.12:3.2.1",
    "io.delta:delta-core_2.12:2.0.0rc1",
    "org.xerial:sqlite-jdbc:3.36.0.3",
    "graphframes:graphframes:0.8.2-spark3.2-s_2.12",
    "com.acervera.osm4scala:osm4scala-spark3-shaded_2.12:1.0.8",
]

spark = (pyspark.sql.SparkSession.builder.appName("MyApp")
    .config("spark.jars.packages", ",".join(maven_coords))
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .config("spark.executor.memory", MAX_MEMORY)
    .config("spark.driver.memory", MAX_MEMORY)
    .enableHiveSupport()
    .getOrCreate()
    )

In [8]:
spark

In [32]:
%%writefile /content/drive/MyDrive/data/leetcode_sql180/increment_data1.csv
id,num
1,1
2,1
3,1
4,9
5,2
6,1
7,8
8,4
9,6
10,10
11,10
12,10

Overwriting /content/drive/MyDrive/data/leetcode_sql180/increment_data1.csv

In [27]:
from pyspark.sql.functions import col

In [28]:
df=spark.read.csv("/content/drive/MyDrive/data/leetcode_sql180/increment_data1.csv",inferSchema=True,header=True)

In [29]:
from os.path import join
from ast import alias
df1 = df.alias("a").join(df.alias("b"),col("a.id" )== col("b.id") + 1) \
          .join(df.alias("c"),col("a.id") == col("c.id") -1)
df1.where((col("a.num") == col("b.num")) & (col("a.num")==col("c.num"))).select("a.num").show()

+---+
|num|
+---+
|  1|
| 10|
+---+

#Follower count
https://leetcode.com/problems/find-followers-count/description/?envType=study-plan-v2&envId=top-sql-50

In [40]:
%%writefile /content/drive/MyDrive/data/leetcode_sql180/follower_count.csv
user_id,follower_id
0,1
1,0
2,0
2,1
2,0
3,1
3,2
4,0
4,1
4,2
4,3
5,0
5,1
5,2
5,3
5,4
6,0
6,1
6,2
6,3
6,4
6,5
7,0
7,1
7,2
7,3
7,4
7,5
7,6
8,0
8,1
8,2
8,3
8,4
8,5
8,6
8,7
9,0
9,1
9,2
9,3
9,4
9,5
9,6
9,7
9,8
10,0
10,1
10,2
10,3
10,4
10,5
10,6
10,7
10,8
10,9
11,0
11,1
11,2
11,3
11,4
11,5
11,6
11,7
11,8
11,9
11,10
12,0
12,1
12,2
12,3
12,4
12,5
12,6
12,7
12,8
12,9
12,10
12,11
13,0
13,1
13,2
13,3
13,4
13,5
13,6
13,7
13,8
13,9
13,10
13,11
13,12
14,0
14,1
14,2
14,3
14,4
14,5
14,6
14,7
14,8
14,9
14,10
14,11
14,12
14,13
15,0
15,1
15,2
15,3
15,4
15,5
15,6
15,7
15,8
15,9
15,10
15,11
15,12
15,13
15,14
16,0
16,1
16,2
16,3
16,4
16,5
16,6
16,7
16,8
16,9
16,10
16,11
16,12
16,13
16,14
16,15
17,0
17,1
17,2
17,3
17,4
17,5
17,6
17,7
17,8
17,9
17,10
17,11
17,12
17,13
17,14
17,15
17,16
18,0
18,1
18,2
18,3
18,4
18,5
18,6
18,7
18,8
18,9
18,10
18,11
18,12
18,13
18,14
18,15
18,16
18,17
19,0
19,1
19,2
19,3
19,4
19,5
19,6
19,7
19,8
19,9
19,10
19,11
19,12
19,13
19,14
19,15
19,16
19,17
19,18
20,0
20,1
20,2
20,3
20,4
20,5
20,6
20,7
20,8
20,9
20,10
20,11
20,12
20,13
20,14
20,15
20,16
20,17
20,18
20,19
21,0
21,1
21,2
21,3
21,4
21,5
21,6
21,7
21,8
21,9
21,10
21,11
21,12
21,13
21,14
21,15
21,16
21,17
21,18
21,19
21,20
22,0
22,1
22,2
22,3
22,4
22,5
22,6
22,7
22,8
22,9
22,10
22,11
22,12
22,13
22,14
22,15
22,16
22,17
22,18
22,19
22,20
22,21
23,0
23,1
23,2
23,3
23,4
23,5
23,6
23,7
23,8
23,9
23,10
23,11
23,12
23,13
23,14
23,15
23,16
23,17
23,18
23,19
23,20
23,21
23,22
24,0
24,1
24,2
24,3
24,4
24,5
24,6
24,7
24,8
24,9
24,10
24,11
24,12
24,13
24,14
24,15
24,16
24,17
24,18
24,19
24,20
24,21
24,22
24,23
25,0
25,1
25,2
25,3
25,4
25,5
25,6
25,7
25,8
25,9
25,10
25,11
25,12
25,13
25,14
25,15
25,16
25,17
25,18
25,19
25,20
25,21
25,22
25,23
25,24
26,0
26,1
26,2
26,3
26,4
26,5
26,6
26,7
26,8
26,9
26,10
26,11
26,12
26,13
26,14
26,15
26,16
26,17
26,18
26,19
26,20
26,21
26,22
26,23
26,24
27,25
27,0
27,1
27,2
27,3
27,4
27,5
27,6
27,7
27,8
27,9
27,10
27,11
27,12
27,13
27,14
27,15
27,16
27,17
27,18
27,19
27,20
27,21
27,22
27,23
27,24
27,25
27,26
28,0
28,1
28,2
28,3
28,4
28,5
28,6

Overwriting /content/drive/MyDrive/data/leetcode_sql180/follower_count.csv

In [41]:
df = spark.read.csv("/content/drive/MyDrive/data/leetcode_sql180/follower_count.csv",inferSchema=True,header=True)

In [42]:
df.groupBy("user_id").count().orderBy("user_id").show()

+-------+-----+
|user_id|count|
+-------+-----+
|      0|    1|
|      1|    1|
|      2|    3|
|      3|    2|
|      4|    4|
|      5|    5|
|      6|    6|
|      7|    7|
|      8|    8|
|      9|    9|
|     10|   10|
|     11|   11|
|     12|   12|
|     13|   13|
|     14|   14|
|     15|   15|
|     16|   16|
|     17|   17|
|     18|   18|
|     19|   19|
+-------+-----+
only showing top 20 rows

# My Number
https://leetcode.com/problems/biggest-single-number/description/?envType=study-plan-v2&envId=top-sql-50

In [45]:
%%writefile /content/drive/MyDrive/data/leetcode_sql180/myNumber.csv
num
8
8
3
3
1
4
5
6

Writing /content/drive/MyDrive/data/leetcode_sql180/myNumber.csv

In [46]:
df=spark.read.csv("/content/drive/MyDrive/data/leetcode_sql180/myNumber.csv",inferSchema=True,header=True)
df.show()

+---+
|num|
+---+
|  8|
|  8|
|  3|
|  3|
|  1|
|  4|
|  5|
|  6|
+---+

In [61]:
df.groupBy("num").count().where("count=1").orderBy("num",ascending=False).limit(1).select("num").show()

+---+
|num|
+---+
|  6|
+---+

#Product Price at given date
https://leetcode.com/problems/product-price-at-a-given-date?envType=study-plan-v2&envId=top-sql-50

In [90]:
%%writefile /content/drive/MyDrive/data/leetcode_sql180/product_prices.csv
product_id,new_price,change_date
1,20,2019-08-14
2,50,2019-08-14
1,30,2019-08-15
1,35,2019-08-16
2,65,2019-08-17
3,20,2019-08-18
4,5,2019-08-15

Overwriting /content/drive/MyDrive/data/leetcode_sql180/product_prices.csv

In [91]:
df=spark.read.csv("/content/drive/MyDrive/data/leetcode_sql180/product_prices.csv",inferSchema=True,header=True)

In [92]:
df1= df.where("change_date <= '2019-08-16'")

In [93]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

In [94]:
from pyspark.sql.functions import *

In [95]:
windowSpec = Window.partitionBy("product_id").orderBy(col("change_date").desc())

In [96]:
df1 = df1.withColumn("row_num",F.row_number().over(windowSpec))

In [97]:
df1.show()

+----------+---------+-----------+-------+
|product_id|new_price|change_date|row_num|
+----------+---------+-----------+-------+
|         1|       35| 2019-08-16|      1|
|         1|       30| 2019-08-15|      2|
|         1|       20| 2019-08-14|      3|
|         2|       50| 2019-08-14|      1|
|         4|        5| 2019-08-15|      1|
+----------+---------+-----------+-------+

In [98]:
df2 = df1.where("row_num=1")

In [85]:
df.groupBy("product_id").select("product_id,MAX(IF(change_date>'2019-08-16',10,new_price))").show()

AttributeError: 'GroupedData' object has no attribute 'select'

In [99]:
df.groupBy("product_id").agg(max(when(col("change_date") <= "2019-08-16", col("new_price")).otherwise(10)).alias("latest_price")) \
  .show()

+----------+------------+
|product_id|latest_price|
+----------+------------+
|         1|          35|
|         3|          10|
|         4|           5|
|         2|          50|
+----------+------------+

In [100]:
%%writefile /content/drive/MyDrive/data/leetcode_sql180/last_person_fit.csv
person_id,person_name,weight,turn
5,Alice,250,1
4,Bob,175,5
3,Alex,350,2
6,John Cena,400,3
1,Winston,500,6
2,Marie,200,4

Writing /content/drive/MyDrive/data/leetcode_sql180/last_person_fit.csv

In [101]:
df=spark.read.csv("/content/drive/MyDrive/data/leetcode_sql180/last_person_fit.csv",inferSchema=True,header=True)

In [102]:
df.show()

+---------+-----------+------+----+
|person_id|person_name|weight|turn|
+---------+-----------+------+----+
|        5|      Alice|   250|   1|
|        4|        Bob|   175|   5|
|        3|       Alex|   350|   2|
|        6|  John Cena|   400|   3|
|        1|    Winston|   500|   6|
|        2|      Marie|   200|   4|
+---------+-----------+------+----+

In [105]:
df.withColumn("cum_weight",sum("weight").over(Window.orderBy("turn"))).where(col("cum_weight")<=1000).orderBy(col("turn").desc()).limit(1).select("person_name").show()

+-----------+
|person_name|
+-----------+
|  John Cena|
+-----------+

In [106]:
df_joined = df.alias("q1").join(df.alias("q2"), on=col("q1.turn") >= col("q2.turn"))

# Group by turn, calculate cumulative weight, and filter
result_df = df_joined.groupBy("q1.turn") \
                     .agg(sum("q2.weight").alias("cumulative_weight")) \
                     .filter(col("cumulative_weight") <= 1000) \
                     .orderBy(col("cumulative_weight").desc()) \
                     .limit(1) \
                     .join(df.alias("q3"), on=col("q1.turn") == col("q3.turn")) \
                     .select("q3.person_name")

# Print the result
result_df.show()

+-----------+
|person_name|
+-----------+
|  John Cena|
+-----------+